/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
}

header {
    background-color: rgb(255, 188, 188);
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: rgb(255, 188, 188);
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(247, 0, 0);
}

article {
    padding: 10px;
}

h1, h2 {
    color: rgb(126, 25, 25);
}

footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
